<h1>Done-activities:</h1>
<a *ngFor="let activity of activityDone">
    <table>
        <table >
            <tr>
                <th>
                    <input type="checkbox" ng-model="checkb"  (change)="moveFromDoneToList(activity.id);" checked/>
                </th>
                <th>
                    <h3>{{activity.name}}</h3>
                </th>
                <th>
                    <button class="btn btn-dark" (click)="deleteActivity(activity.id);">X</button>
                </th>
            </tr>
        </table>
    </table>
</a>